//First Color Scheme
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;

//Second Color Scheme
$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

//Font Family
$old-standard: "Old Standard TT", sans-serif;
$raleway: "Raleway", sans-serif;


//Font Weight
$regular: 400;
$bold: 700;


//Font Sizes
/* Si se utiliza un mixin, no especificar la unidad de medida*/
$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;