/* .header {
  @include relative-converter(height, rem, 400, 16);
  /* &__navigation {
    height: 100px;
  } */
  /* &__container {
    @include relative-converter(height, rem, 400, 16);
    background-image: url("../img/mobile-photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } */
